/* override bootstrap */

body {
  font-family: "Source Code Pro", monospace!important;
}

.bg-primary{
    background-color: #A599B5!important;
}
.text-primary{
    color: #A599B5!important;
}
.border-primary{
    border-color: #A599B5!important;
}
.bg-secondary{
    background-color: #2e2f2f!important;
}
.text-secondary{
    color: #2e2f2f!important;
}
.border-secondary{
    border-color: #2e2f2f!important;
}
.bg-dark{
    background-color: #051014!important;
}
.text-dark{
    color: #051014!important;
}
.border-dark{
    border-color: #051014!important;
}
.bg-light{
    background-color: #ACBDBA!important;
}
.text-light{
    color: #ACBDBA!important;
}
.border-light{
    border-color: #ACBDBA!important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #CDDDDD !important; /* lighter */
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color:  #ffffff!important; /* white */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ACBDBA' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* new */
.bg-lighter{
    background-color: #CDDDDD!important;
}
.text-lighter{
    color: #CDDDDD!important;
}
.border-lighter{
    border-color: #CDDDDD!important;
}

/* nav */
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5)!important;  */
    background-color: transparent!important;
    backdrop-filter: blur(5px); 
}

.near-top {
    box-shadow: none;
}

@media (max-width: 768px) {
    .custom-center-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* introduction */
#introduction {
    min-height: calc(100vh - 100px); 
}
@media (max-width: 576px) {
    #introduction {
        min-height: calc(100vh - 56px); 
    }
}

/* profile */
#profile, #cat, #face, #ears, #eyes {
  min-height: 0;
  min-width: 0;
}

#cat {
    height: 365px;
    width: 270px;
    overflow: visible;
}

#ears {
    transform: translateY(40%) scaleY(1.2);
    height: 100%!important;
    width: 100%;
    gap: 10%;
    z-index:2;
}

.ear {
    position: relative;
    width: 45%;
    height: 100%;
    border-radius: 50% 50%;
    -webkit-clip-path: ellipse(30% 45% at 50% 50%);
    clip-path: ellipse(30% 45% at 50% 50%);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #323031;
}

#left-ear {
    transform: rotate(-10deg) scale(1.5);
}

#right-ear {
    transform: rotate(10deg) scale(1.5);
}

.inner-ear {
    width: 75%;
    height: 100%;
    /* border-radius: 50% 50%; */
    -webkit-clip-path: ellipse(30% 50% at 50% 50%);
    clip-path: ellipse(30% 50% at 50% 50%);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow:hidden;
    background-color: #70789C;
}

#left-inner-ear {
    float:left;
}

#right-inner-ear {
    float:right;
}

#face {
    height: 125%!important; 
    background-color: #333132; 
    border: 3px solid #391316;
    border-radius: 50% 50% 36% 36%;
    z-index:3;
}

#eyes {
    height: 30%;
    gap: 5%;
    transform: translateY(-30%);
}

.eye {
    width: 27%;
    height: 80%;
    border-radius: 50%;
    overflow:hidden;
    background-color: #F1EEE7;
}

#left-eye {
    transform: rotate(20deg);
    /* clip-path: polygon(5% 50%, 20% 10%, 80% 10%, 95% 50%, 80% 90%, 20% 90%); */
}

#right-eye {
    transform: rotate(-20deg);
}

.pupil {
    height: 50%; 
    width:20%;  
    border-radius: 50%;
}

#left-pupil {
    transform: translateX(-75%) rotate(-20deg);
}
#right-pupil {
    transform: translateX(75%) rotate(20deg);
}

#nose {
    width: 6.2%;
    height: 30%;
    background-color: #E2A876;
    border-top-left-radius: 150px;
    border: 1px;
    border-right: 0;
    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    transform: translateY(200%) rotate(45deg) ;
}

#whiskers {
    gap: 36%;
    transform: translateY(10%);
}

#left-whiskers, #right-whiskers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left-whiskers {
    transform: translateX(-75%) rotate(-10deg);
}

#right-whiskers {
    transform: translateX(75%) rotate(10deg);
}

#left-top-whisker {
    transform: rotate(20deg) translateX(-5%) translateY(-300%)
}

#right-top-whisker {
    transform: rotate(-20deg) translateX(5%) translateY(-300%)
}

.whisker {
    border-top: 4px solid #322520;
    width: 77px;
}

/* about */
.tech-logo {
    height: 63px!important;
}
.tech-bootstrap {
    height: 55px!important;
}

/* phone */
@media (max-width: 460px) {
    .tech-logo, .tech-bootstrap {
        margin-left: 0.50rem!important;
        margin-right: 0.50rem!important;
    }
}
@media (max-width: 360px) {
    .tech-logo {
        height: 45px!important;
    }
    .tech-bootstrap {
        height: 40px!important;
    }
}

/* SMALLEST phone */
@media (max-width: 320px) {
    .flex-wrap-mobile {
        flex-wrap: wrap;
    }
}
